<!-- 	<div ng-show="currentUserEdit" class="currentuser">
		<ul ng-show="currentUserEdit">
			<li ng-repeat="(currentkey,currentuser) in users[currentUsername]">
			<span ng-switch on="currentkey">	
				<span ng-switch-when="Interests">
				<label for="inputdefault" ng-model="currentkey">{{currentkey}}</label>
					<ul>
						<li ng-repeat="(key, value) in currentuser">
							<input type="text" name="{{key}}" ng-model="value" class="form-control" value="{{value}}" />
						</li>
					</ul>
				</span> 
				<span ng-switch-default><label for="inputdefault">{{currentkey}}</label><input class="form-control" type="text" name="{{currentkey}}" ng-model="currentuser" value="{{currentuser}}" /></span>  
		    </span>

			</li>
			
		</ul> -->